<h1>Categories</h1>
  <h2>Logged in as: <%= current_user.name %></h2>
  <%= button_to "sign out", destroy_user_session_path, method: :delete %>
<%= link_to({ controller: 'groups', action: 'new' }) do %>
  <button>Add new category</button>
<%end%>
<ul>
    <% @categories.each do |category| %>
        <%= link_to group_expenses_path(group_id: category.id) do %>
            <li>
                <%# <%= image_tag url_for(category.icon), alt: "category icon" %>
                <h2>
                    <%= category.name %>
                </h2>
                <h3>
                    $<%= Expense.where(groups_id: category.id).sum(:amount) %>
                </h3>
            </li>
        <% end %>
    <% end %>
</ul>