<div id="groups-new">
    <%= form_with model: Group.new, url: groups_path(current_user) do |form| %>
        <div id="div">
            <%= form.text_field :name, placeholder: "Name"%>
        </div>
        <div>
            <%= form.label :icon, "Choose Image:" %>
            <%= form.file_field :icon %>
        </div>
        <div id="actions">
            <%= form.submit "Save", id: "button"%>
        </div>
    <% end %>
<div>